*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
}


body{
  background-color: rgb(35, 35, 35);
  padding: 0;
  margin: 0;
}

.total{
  background-color: rgba(0, 0, 0, 0);
  width: 54vh;
  height: 96vh;

  left: 50vw;
  transform: translateX(-50%);
  top: 2vh;

  


}

.chatbox{

    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 90%;

    padding: 0%;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(5, 5, 5);

    animation: slidedown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

@keyframes slidedown {
  0%{transform: translatey(-200%)}
  100%{ transform: translateY(0)}
}


.message{
    background-color: rgb(20, 20, 20);



    width:fit-content;
    max-width: 95%;

    padding: 10px;
    margin: 10px;

    border-radius: 8px;
    box-shadow: 0 0 8px rgb(5, 5, 5);

    color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;

    animation: slidein 0.2s ease-out

    
}

@keyframes slidein{
  0%{transform: translateX(-100%)}
  100%{ transform: translateX(0)}
}

.username{
  padding-bottom: 10px;
  font-weight: bold;
  font-style: italic;
  font-size: small;
  color: rgb(109, 109, 109);
}

.message:hover{
  background-color: rgb(0, 0, 0);
  transition: 0.1s;
}

::selection {
    color: rgb(21, 21, 21);
    background: rgb(202, 202, 202);
  }


  .bot{
    width: 100%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
}

  input{
    background-color: rgb(15, 15, 15);

    padding: 25px;

    height: 50px;

    border-radius: 10px;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    
    color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    
  }

  .chatInput{
    width: 100%;
    height: 90%;
    top: 10%;
    animation: slideup 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes slideup{
    0%{transform: translateY(200%)}
    100%{ transform: translateY(0)}
  }

  input:hover{
    background-color: black;
    transition: 0.5s;
  }

  textarea:focus, input:focus{
    outline: none;
}


.card{
  background-color: rgb(31, 31, 31);
  width: 54vh;
  height: 35vh;

  border-radius: 10px;
  box-shadow: 0 0 5px black;

  left: 50vw;
  transform: translateX(-50%);
  top: 25vh;
}


.signupInput{
  margin-top: 4vh;
  margin-left: 10%;
  width: 80%;
}



button{
  transition: 0.2s;
  position: relative;

  margin-top: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: rgb(15, 15, 15);
  color: rgb(206, 206, 206);
  font-weight: bold;
  width: 20%;
  height: 20%;

  display: block;

  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0, 0, 0);

  cursor: pointer;
}

button:hover{
  transition: 0.2s;
  background-color: rgb(200, 200, 200);
  color: rgb(15, 15, 15);
}

.invalid{
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(2%, -200%);

}

.valid{
  color:rgba(0, 0, 0, 0);
  
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 0);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(46, 46, 46);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}